/* We want these items to span the whole area the have (svgs don't do this by default)
And we don't want unwanted scrollbars by accident */
html,
body,
head,
svg {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Grid-Layouting the Dashboard */
body {
    display: grid;

    grid-template-areas: 'header' 'content';
    grid-template-rows: 100px auto;
}

/* Layouting and styling the Header */
.header {
    grid-area: header;

    background-color: #3e566c;

    box-sizing: border-box;

    display: grid;
    grid-template-areas: 'logo title buttons';
    grid-template-columns: 250px auto;

    border-bottom: 2px solid white;
}

.title {
    grid-area: title;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Styling the logo */
.logo {
    grid-area: logo;

    padding: 5px;
    cursor: pointer;
}

.content {
    grid-area: content;
}

/* Styling the buttons */
.buttons {
    grid-area: buttons;

    margin: 40px;

    /* Flexbox is used, because you can add multiple buttons without worrying about the layout 
    More at: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.function_button {
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #3e566c;
}

.function_button:hover {
    background-color: #3e566c;

    color: white;
    border-color: white;
}

#legend,
#zoomButtons {
    position: fixed;
    right: 270px;
    top: 380px;
    width: 250px;
}

#cbShort {
    accent-color: #ffc107;
}

#cbMedium {
    accent-color: #1e88e5;
}

#cbLong {
    accent-color: #d81b60;
}

#text1 {
    background-color: purple;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background: #000;
    color: #fff;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999 !important;
}

aside {
    position: absolute;
    top: 110px;
    right: 30px;
    /* transform: translate(-50%, -50%); */
    z-index: 9999 !important;
    width: 300px;
    height: 260px;
    background-color: lightgray;
    text-align: left;
    padding: 20px;
}

#greenCircleImg {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    /* display: inline-block; */
}

#lineImg {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    /* display: inline-block; */
}

#pagerankFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
